//Report Dialog
$text: #1d3028;
$text2: #6e8e80;
$border: #cfe2d6;
$form-bg: #f7fdf7;
$hover-btn: #29aad9;
$primary-gradient: linear-gradient(135deg, rgb(10, 118, 73), rgb(34, 195, 128));
$primary-text: #fff;
$form-radius: 1.2rem;

//error toast
$error-bg: #f8d7da;
$error-border: #f5c2c7;
$error-text: #842029;

$success-bg: #d1e7dd;
$success-border: #badbcc;
$success-text: #0f5132;

$primary: #007e7c;
$secondary: #ffb81c;
$accent: #de3831;
$light: #f5f5f5;
$dark: #333333;
