{% extends 'base.html' %} {% block main %}
<div class="posts-container">
    <div class="title">
        <h3>Recent Waste Reports</h3>
        <p>Latest community reports of waste incidents across South Africa</p>
    </div>
    <ul>
        {% for post in posts %}
            <li>
            <span class="side">
                <div class="head">
                    <div class="pill">Reported</div>
                </div>
                <div class="info">
                    <p>{{post[1]}}</p>
                </div>
                <div class="location">
                    <span class="block">
                        <?xml version="1.0"?>
                        <svg enable-background="new 0 0 32 32" id="Stock_cut" version="1.1"
                        viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc />
                        <g>
                            <path d="M27,12   c0-6.075-4.925-11-11-11S5,5.925,5,12c0,8,11,19,11,19S27,20,27,12z"
                                fill="none" stroke="#6e8e80" stroke-linejoin="round" stroke-miterlimit="10"
                                stroke-width="2" />
                            <circle cx="16" cy="12" fill="none" r="4" stroke="#6e8e80" stroke-linejoin="round"
                                stroke-miterlimit="10" stroke-width="2" />
                        </g>
                        </svg>
                        <span>{{post[2]}}</span>
                    </span>
                    <span class="block">
                        <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;stroke:#6e8e80;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title/><circle class="cls-1" cx="24" cy="24" r="23"/><line class="cls-1" x1="24" x2="24" y1="5" y2="24"/><line class="cls-1" x1="24" x2="37" y1="24" y2="37"/></svg>
                        <span>{{post[8]}}</span>
                    </span>
                </div>
            </span>
            <span class="photo"><img src="data:{{ post[7] }};base64,{{ post[6] }}" alt="evidence"></span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}